{% extends "base.html" %}

{% block title %}掲示板編集画面 - ネコイル{% endblock %}

{% block content %}
<div style="margin-top: 100px; text-align: center; padding: 20px; background-color: #f8f8ff; border: 2px solid #ddd; border-radius: 10px; width: 700px; height: 650px; margin-left: auto; margin-right: auto;">

<h3>掲示板編集</h3>
<form method="POST">
{% csrf_token %}
{{ edit_theme_form.as_p }}
<input type="submit" value="更新"class="button">
<a class="navbar-brand button" href="{% url 'boards:delete_theme' id=id %}">削除する</a>
<a href="{% url 'boards:list_themes' %}" class="button">戻る</a>
</form>

{% endblock %}