{% extends "base.html" %}
{% block title %}ユーザ情報変更画面 - ネコイル{% endblock %}

{% block content %}
<div style="margin-top: 100px; text-align: center; padding: 20px; background-color: #f8f8ff; border: 2px solid #ddd; border-radius: 10px; width: 700px; height: 650px; margin-left: auto; margin-right: auto;">
    <h2>ユーザ情報変更</h2>
<br>
    {% if messages %}
        {% for message in messages %}
            <div>{{ message.message }}</div>
        {% endfor %}
    {% endif %}

    <form method="POST" enctype="multipart/form-data" style="display: flex; flex-direction: column; gap: 30px;">
        {% csrf_token %}
        <div>
            <label for="id_username" style="width: 150px;">ユーザ名:</label>
            {{ user_edit_form.username }}
        </div>

        <div>
            <label for="id_email" style="width: 150px; ">メールアドレス:</label>
            {{ user_edit_form.email }}
        </div>
        <!-- 他のフォームも同様に追加 -->
        
        <input type="submit" value="更新" class="button" style="margin-top: 20px;">
        <a href="{% url 'accounts:home' %}" class="button">Topへ</a>
    </form>
</div>
{% endblock %}




{% comment %} {% extends "base.html" %}
{% block title %}ユーザ情報変更画面 - ネコイル{% endblock %}

{% block content %}
<div style="margin-top: 100px; text-align: center; padding: 20px; background-color: #f8f8ff; border: 2px solid #ddd; border-radius: 10px; width: 700px; height: 650px; margin-left: auto; margin-right: auto;">
<h2>ユーザ情報変更</h2>

{% if messages %}
  {% for message in messages %}
    <div>{{ message.message }}</div>
  {% endfor %}
{% endif %}
<form method="POST" enctype="multipart/form-data">
{% csrf_token %}
{{ user_edit_form.as_p }}
<input type="submit" value="更新" class="button">
</form>
{% endblock %} {% endcomment %}
